/Tomcat/Vagrant/.vagrant
/Vagrant/centos/.vagrant
/Vagrant/centos/.vagrant
/Vagrant/.vagrant/
/Vagrant/multivm/.vagrant/
/Vagrant/portfolioIAC/.vagrant/
/Vagrant/wordpressIAC/.vagrant/
/Vagrant/*.pem
/Vagrant/*.key
/Vagrant/id_rsa
/Vagrant/id_ed25519
/~$cumentaion.docx